<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Satoshi's Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body class="pt-4 bg-dark">
<h1 class="display-3 text-center text-light mb-4">Satoshi's Story</h1>
<div class="container jumbotron">
    <div class="row">
        <div class="col-sm-9">
            <h2>A Test of Crowd Sourced Storytelling...</h2>
        </div>
        <div class="col-sm-3">
            <h2 class="text-right" id="timer"></h2>
        </div>
    </div>
    <blockquote class="blockquote pl-4">
        <p th:text="${story}"></p>
        <footer class="blockquote-footer">The syndicate of Satoshi's storytellers</footer>
    </blockquote>
</div>
<div class="container mb-5">
    <form>
        <h2 class="text-light">Vote on the next candidate</h2>
        <div th:if="${story.getCandidates().isEmpty()}">
            <p class="text-muted">There are no candidates yet! Add a new word or phrase below</p>
        </div>
        <div class="form-row" th:unless="${story.getCandidates().isEmpty()}">
            <div class="col-auto" th:each="candidate:${story.getCandidates()}">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-success"
                                th:formaction="@{/__${candidate.hashCode()}__/upvote}">
                            <i class="fas fa-angle-double-up" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" th:text="${candidate.weight}"></span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" th:text="${candidate.word}"></span>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger"
                                th:formaction="@{/__${candidate.hashCode()}__/downvote}">
                            <i class="fas fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container text-light">
    <h2>Or add a new one</h2>
    <form action="#" th:action="@{/addword}" th:object="${wordForm}" method="post">
        <div class="form-group">
            <label class="control-label sr-only" for="word">Enter phrase</label>
            <input class="form-control" id="word" type="text" placeholder="Enter your phrase here" th:field="*{word}">
        </div>
        <input class="btn btn-success" type="submit" value="add">
    </form>
</div>
<div class="container text-muted text-center">
    <p class="mt-5">Want to start with a new story? Click <a href="/restart">here</a></p>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>

    var countDownDate = new Date('[[${story.getUpdateTime()}]]').getTime();

    var x = setInterval(function () {

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer").innerHTML
            = (days > 0 ? days + "d " : "")
            + (hours > 0 ? hours + "h " : "")
            + (minutes > 0 ? minutes + "m " : "")
            + seconds + "s ";

        if (distance < 0) {
            clearInterval(x);
            location.reload();
        }
    }, 1000);
</script>
</html>